/* 
    Breakpoints:
    - 640
    - 768
    - 1024
    - 1280
    - 1536
*/

* {
  margin: 0px;
  font-family: "Josefin Sans";
  font-size: 18px;
}

body {
  position: relative;
  min-height: 100vh;
}

:root {
  --veryDarkBlue: hsl(235, 21%, 11%);
  --veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlue: hsl(234, 39%, 85%);
  --LightGrayishBlueHover: hsl(236, 33%, 92%);
  --DarkGrayishBlue: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
  --VeryDarkGrayishBlue: hsl(237, 14%, 26%);
  --white: #FFFFFF;
  --red: #B93535;
  --pink: #BA489E;
}

.todos-section-container {
  background-color: var(--veryDarkBlue);
  height: 100vh;
  width: 100%;
  position: relative;
}

/* .todo-first-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
} */

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.todo-image {
  background-image: url("./bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  position: relative;
  height: 40vh;
}

.todo-container-image {
  background-image: url('./sun-svgrepo-com.svg');
  background-size: cover;
  height: 24px;
  width: 24px;
  margin-right: 0px;
  background-color: transparent;
  color: white;
  filter: invert(1);
}

.todos-card {
  position: relative;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  background-image: none;
}

.todos-card h1 {
  color: var(--white);
  text-align: left;
  z-index: 1;
  font-size: 40px;
  letter-spacing: 18px;
}

.checkbox {
  display: flex;
  justify-content: space-around;
}

.checkbox:hover {
  color: var(--pink);
}

.delete-todo {
  background-color: transparent;
  color: var(--lightGrayishBlue);
  border: none;
  cursor: pointer;
}

.delete-todo:hover {
  color: var(--pink);
}

.todo-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid white;
  appearance: none;
  cursor: pointer;
}

.todo-checkbox:checked {
  background: url('./icon-check.svg'), linear-gradient(to bottom right,hsl(192, 100%, 67%) 10%, hsl(192, 100%, 67%) 25%, hsl(280, 87%, 65%) 75%, hsl(280, 87%, 65%) 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.add-todo-container {
  margin-top: 24px;
  display: flex;
  gap: 8px;
}

.add-todo-input-container {
  flex: 1;
  border-radius: 8px;
}

.add-todo-input {
  width: calc(100% - 36px);
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 18px;
  border-radius: 4px;
  border-color: var(--DarkGrayishBlue);
  border-width: 1px;
  border-style: transparent;
  background-color: var(--veryDarkDesaturatedBlue);
  color: var(--LightGrayishBlue);
}

.add-todo-error {
  color: var(--red);
  position: absolute;
  bottom: -24px;
  display: none;
}

/* .add-todo-button {
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border-color: var(--LightGrayishBlue);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
} */

.todos-list {
  margin-top: 36px;
  border-radius: 8px;
  background-color: var(--veryDarkDesaturatedBlue);
  color: var(--LightGrayishBlue);
  width: 96%;
  padding-left: 4px;
}

.todos-list li {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.todo-text {
  margin-left: 8px;
}

.todo-numbering {
  position: fixed; 
  bottom: 0;
  left: 0; 
  text-align: left;
  max-width: 300px;
  z-index: 1;
  height: auto; 
  margin: 0; 
  padding: 10px; 
  color: var(--LightGrayishBlue);
  background-color: var(--veryDarkBlue);
}


@media screen and (max-width: 640px) {
  .todos-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image-container {
    margin-top: 32px;
  }

  .todo-container-image {
    align-items: end;
    margin: 0;
  }

  .todo-section-container {
    position: relative;
    width: 100vh;
    height: 100vh;
  }

  /* .todo-first-container {
    top: auto;
    left: auto;
    transform: none;
    height: auto;
    width: auto;
  } */

  .todo-image {
    height: 40vh; 
  }
}